.firstbackground {
 position:absolute;
 left:0;
 top : 0;
 width : 100%;
 min-height : 100%;
 background: url('Snow.jpg') repeat;
 padding-left:100px;
}
.secondbackground {
text-align:center;
 width : 75%;
 min-height : 100%;
 background-color:white;
 opacity:0.4;
 padding-top:50px;
 padding-bottom:50px;
}
/*.imageSplash { 
   position: fixed; 
   width: 100%; 
   top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.imageSplash img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

h21 { 
   position: relative; 
   top: 0%; 
   left: 25%; 
}
h21 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
h21 span .spacer{
  padding:0 5px;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.7);
}
html, .splash{ 
    background: url(img/SnowyNight.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/