body
{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #A8A8A8 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #A8A8A8 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #A8A8A8 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #A8A8A8));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #A8A8A8 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%,  100%);
background-repeat: no-repeat;
}
img.Brett
{
  border-radius:50px;
  height:250px;
}
img.family
{
  border-radius:50px;
  height:250px;
}
p1
{
  padding-top:15px;
  color:#A8A8A8;
  text-align:center;
  font-size:30px;
}
#top
{
background-color: #484853;
height:300px;
}
#dock
{
margin-bottom:10px;
}
#bottom
{
background-color: #484853;
height:105px;
}
.input-append
{
margin-bottom: 150px;
margin-top:150px;
}

h1
{
color:black;
text-align:center;
font-size:20pt;
}
p9
{
color:red;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
p2
{
color:orange;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
p3
{
color:yellow;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
p4
{
color:green;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
p5
{
color:blue;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;

}
p6
{
color:violet;
text-align:left;
font-size:8pt;
text-indent:50px;
display:none;
}
#dialog
{
top:PosY;
left:PosX;
width:50 px;
height;20 px;
background: #FFFFFF;
border:2px solid #cecece;
z-index: 2;
padding:4px;
}
#dialog h1
{
text-align:center;
color:Black;
border-bottom:1px;
padding-bottom:1px;
margin-bottom:1px;
}
#closeDialog
{
font-size:8px;
right:6px;
top:4px;
position:absolute;
}

