.body{
	background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0, #148BDB),
	color-stop(0.7, #EBEBEB)
);
background-image: -o-linear-gradient(right bottom, #148BDB 0%, #EBEBEB 70%);
background-image: -moz-linear-gradient(right bottom, #148BDB 0%, #EBEBEB 70%);
background-image: -webkit-linear-gradient(right bottom, #148BDB 0%, #EBEBEB 70%);
background-image: -ms-linear-gradient(right bottom, #148BDB 0%, #EBEBEB 70%);
background-image: linear-gradient(to right bottom, #148BDB 0%, #EBEBEB 70%);
	}
	#sidebar{
  background-color:#191970;
}
img.logo{
}